{
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "env": {
        "browser": true
    },
    "plugins": [ "import", "react" ],
    "rules": {
        "import/no-unresolved": "error",
        "import/named": "error",
        "import/default": "error",
        "prefer-const": "error",
        "no-unused-expressions": "error",
        "no-unused-vars": "error",
        "no-shadow": "error",
        "no-undef": "error",
        "semi": "error",
        "react/jsx-uses-react": "error",
        "react/jsx-uses-vars": "error",
        "react/jsx-no-undef": "error"
    }
}